
// images size

@mixin bg-images() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@mixin images($width: 50px, $height: auto) {
    display: block;
    width: $width;
    height: $height;
    object-fit: cover;
}

// flex
@mixin flexbox($direction: row, $just: center, $align: center, $gap: 1rem ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;
    gap: $gap
}

// animation
@mixin fade-in($duration, $delay: 0) {
    opacity: 0;
    transform: translateY(45px);

    transition: all cubic-bezier(.55,-0.7,.66,1.01) $duration;
    transition-delay: $delay;
}
